/*
	Dark Text 🤘

	Escrito por Julio Lira
  ---------------------
	jul10l1r4.github.io

	Escrito pelo gedit Gnu/Linux

	Licença:WTFPL (What the Fuck You Want to Public License)
*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500');
*{
	transition-duration:0.6s;
}
.dark{
	background-color:#222;
}.btn-dark{/* botões dark */
	border:none;
	background-color:#111;
	padding:10px;
	color:#050;
	font-family: 'Source Code Pro', monospace;
}.btn-dark:hover{
	background-color:#000;
	transform: translate(5px, 0);
	color:#0a0;
	text-shadow:0px 0px 9px #aaa;
}
.indark{
	text-shadow:0px 0px 9px #03a;
	color:#0a0;
	background-color:#000;
	border:none;
	margin:2.5px;
	min-width:20%;
	max-width:100%;
	font-family: 'Source Code Pro', monospace;
	font-weight:200;
}
/* Para todo o corpo do texto */
p, address, blockquote{
	color:#fff;
	font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue", sans-serif
}/* caracteristicas de texto */
h1, h2, h3, h4,li,ul,strong{
	color:#ddd;
}/* Para o alinhamento do texto */
h1,h2,h3{
	font-family: 'Source Code Pro', monospace;
	font-weight: 100;
	text-align: center
}
.s{
	background-color:#010101;
}
.justify{
	text-align:justify
}.center{
	text-align:center
}.right{
	text-align:right
}/* Características */
.featured{
	border:1px solid #4ad
}.clean{
	border:none;
	color:#fff;
	padding:13px
}
@keyframes blink {
	0%{
		opacity:1
	}10%{
		opacity:0
	}15%{
		opacity:1
	}20%{
		opacity:0
	}30%{
		opacity:1
	}99%{
		opacity:0
	}100%{
		opacity:1
	}
}
@-webkit-keyframes load {
  0%{
		filter:sepia(100%)saturate(9900%) hue-rotate(300deg)
		transform: translate(5px,5px);
		text-shadow: 5px 0px 0px #f0f;
  }20%{
		filter:sepia(100%) contrast(100%) saturate(500%) hue-rotate(0deg);
		transform: translate(0px,-30px);
		text-shadow: 5px 0px 0px #00f;
	}
	50%{
		filter:sepia(100%) contrast(100%) saturate(500%) hue-rotate(0deg);
		transform: translate(5px,5px);
		text-shadow: 5px 0px 0px #f00;
  }
  100% {
		filter:sepia(100%) contrast(100%) saturate(500%) hue-rotate(99999999deg);
		transform: translate(5px,10px);
		text-shadow: 5px 0px 0px #0f0;
	}
}
@-webkit-keyframes hov {
  0%{
		text-shadow: 5px 0px 0px #f00;
  }20%{
		text-shadow: -5px 0px 0px #00f;
	}
	50%{
		text-shadow: -5px 5px 0px #f00;
  }
  100% {
		text-shadow: 5px -5px 0px #00f;
	}
}
